<ion-row class="preview-box">
  <ion-row><h4 style="margin-bottom:0;margin-top:0;">Liveability Index</h4></ion-row>
    <ion-row *ngIf="isPreview == true;else notpreview" style="padding-left:0;padding-right:0;">
      <ion-col   size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" *ngFor="let detail of details" style="padding:0;">
        <ion-card style="box-shadow: none;">
          <ion-card-header>
            <ion-row style="padding-bottom: 10px;">
              <span class="category-tag" [ngClass]="detail.categoryName">{{detail.categoryName}}</span>
              
                <div class="star-col">
                  <app-rating [rating]="detail.rating"></app-rating>
                  <!-- <ion-icon name="star" *ngFor="let _ of [].constructor(detail.rating)"></ion-icon>
                  <ion-icon name="star-outline" *ngFor="let _ of [].constructor(5 - detail.rating)"></ion-icon> -->
                </div>                  
            </ion-row>  
            <ion-row>
              <ion-col size="8">
                <ion-card-subtitle>{{detail.attr1}}<ion-icon id="info-icon-preview-{{detail.id}}" class="info-icon" name="alert-circle-outline" ></ion-icon></ion-card-subtitle>
                <ion-popover trigger="info-icon-preview-{{detail.id}}" triggerAction="hover" side="top" alignment="center" mode="ios">
                  <ng-template>
                    <ion-content class="ion-padding">{{detail.tooltip}}</ion-content>
                  </ng-template>
                </ion-popover>
                <ion-card-title>{{detail.attr2}}</ion-card-title>   
              </ion-col>
              <ion-col size="4">
                <img src="assets/{{detail.icon}}" class="detail-icon">
              </ion-col>
            </ion-row>
              
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <span class="extra-desc">{{detail.attr3}}</span>
            </ion-row>
            <ion-row >
              <ion-col size="12">
                <span class="desc-span">Source: {{detail.source}}</span>
              </ion-col>              
            </ion-row> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-template #notpreview>
      <ion-row  style="padding-left:0;padding-right:0;">
      <ion-col size-xl="3" size-lg="4" size-md="6" size-sm="12" size-xs="12" *ngFor="let detail of details" style="padding:0;">
        
        <ion-card style="box-shadow: none;">
          <ion-card-header>
            <ion-row style="padding-bottom: 10px;">
              <span class="category-tag" [ngClass]="detail.categoryName">{{detail.categoryName}}</span>
              
                <div class="star-col">
                  <app-rating [rating]="detail.rating"></app-rating>
                  <!-- <ion-icon name="star" *ngFor="let _ of [].constructor(detail.rating)"></ion-icon>
                  <ion-icon name="star-outline" *ngFor="let _ of [].constructor(5 - detail.rating)"></ion-icon> -->
                </div>                  
            </ion-row>  
            <ion-row>
              <ion-col size="9">
                <ion-card-subtitle>{{detail.attr1}}<ion-icon id="info-icon-notpreview-{{detail.id}}" class="info-icon" name="alert-circle-outline" ></ion-icon></ion-card-subtitle>
                <ion-popover trigger="info-icon-notpreview-{{detail.id}}" triggerAction="hover" side="top" alignment="center" mode="ios">
                  <ng-template>
                    <ion-content class="ion-padding">{{detail.tooltip}}</ion-content>
                  </ng-template>
                </ion-popover>
                <ion-card-title>{{detail.attr2}}</ion-card-title>   
                
              </ion-col>
              <ion-col size="3">
                <img src="assets/{{detail.icon}}" class="detail-icon">
              </ion-col>
            </ion-row>
              
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <span class="extra-desc">{{detail.attr3}}</span>
            </ion-row>
            <ion-row >
              <ion-col size="12">
                <span class="desc-span">Source: {{detail.source}}</span>
              </ion-col>              
            </ion-row> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </ng-template>
    
    <ion-row class="poweredby_row">
      <span class="poweredby_lbl" >Powered by PropertyGuru for Business</span>
    </ion-row>
</ion-row>
    
