.preview-box{
    background-color: var(--ion-color-pg4b-cool-grey-lightest);
    ion-row{
        width:100%
    }
    padding: 0 15px 15px 15px;
}

ion-icon[name="star"]{
    color:var(--ion-color-pg4b-functional-yellow)
    
  }
  ion-icon[name="star-outline"]{
    color:var(--ion-color-pg4b-functional-yellow)
  }

  ion-card .category-tag{
    // background: #F0EAF4;
    font-weight:500;
border-radius: 4px;
font-size: 12px;
line-height: 18px;
padding: 1px 8px;
text-transform: uppercase;
// color: #2C2C2C;
color: var(--ion-color-pg4b-cool-grey-60);
  }

  .category-tag.Transportation{
    
    background: var(--ion-color-pg4b-purple-lighter);
  }
  .category-tag.Sustainability{
    
    background: var(--ion-color-pg-green-lightest);
  }
  .category-tag.Livability{
    
    background: var(--ion-color-pg4b-primary);
  }
  .category-tag.Liveability{
    
    background: var(--ion-color-pg4b-primary);
  }

  ion-card ion-row{
    padding:0;
  }
  ion-card ion-col{
    padding:0;
  }

  ion-card-subtitle{
    padding-top:4px;
    padding-bottom:4px;
    color:var(--ion-color-pg4b-darker-grey);
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
  }
  
  ion-card-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color:var(--ion-color-pg4b-black);
  }
span.extra-desc{
  
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color:var(--ion-color-pg4b-black);
}

 ion-card{
  border: 2px solid #DBDEE1;
  /* PG4B/Shadows/shadow-sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-inline:6px;
  min-height:230px;
 }

 .desc-span{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* PG4B / Neutral / Dark Grey */
  color: #999999;
 }
.checkbox-span ion-icon{
    font-size: 24px;
}
.checkbox-span{
    position:absolute;
    right:0;
    bottom:0;
}

.selected-card{
    border: 2px solid #062472;
    span.checkbox-span ion-icon{
        color:#062472
    }
}

ion-card-content{
    bottom: 0;
    position: absolute;
    width:100%;
}
ion-card-header{
    width:100%
}

.star-col{
    position: absolute;
    right: 0;
    padding-right: 15px;
}

h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 42px;
/* identical to box height */

  }

  .detail-icon{
    position: absolute;
      right: 0;
  }

 @media (min-width:2000px){
  ion-card .category-tag{
    border-radius: 8px!important;
font-size: 24px!important;
line-height: 24px!important;
padding: 2px 16px!important;

}
ion-card-subtitle{
  padding-top:8px!important;
  padding-bottom:8px!important;
font-size: 32px!important;
line-height: 48px!important;
}

ion-card-title{
font-size: 40px!important;
line-height: 60px!important;
}
span.extra-desc{

font-size: 28px!important;
line-height: 42px!important;
}

ion-card{
border: 4px solid #DBDEE1!important;
/* PG4B/Shadows/shadow-sm */

border-radius: 8px!important;
// margin-inline:12px!important;
min-height:480px!important;
}

.desc-span{
font-size: 24px!important;
line-height: 28px!important;
}
// .checkbox-span ion-icon{
//   font-size: 48px!important;
// }
// .selected-card{
//   border: 4px solid #062472!important;
// }
.star-col{
  padding-right: 30px!important;
}

// .preview-section{
//   padding-right:10px!important;
// }
// .embed-section{
  
//   padding: 0 40px 0 40px!important;
// }


.content-div h4{
line-height:48px!important;
}

.resp-label{
font-size: 28px!important;
line-height: 32px!important;
}
.preview-box{
  padding: 0 30px 30px 30px!important;
}
 }