<ion-content [fullscreen]="true">
  <ion-row style="padding-top: 15vh;">
    <ion-col style="text-align:center;"><img src="assets/loadingpage.png"></ion-col>
  </ion-row>
  <ion-row >
    <ion-col style="text-align:center;"><h4>Let your technical team do the magic</h4></ion-col>
  </ion-row>
  <ion-row >
    <ion-col style="text-align:center;">
      <ion-button (click)="goto('new-launch')" class="embed-btn" fill="outline">View Demo on New Launch</ion-button>
      <ion-button (click)="goto('resale')" class="embed-btn" fill="outline">View Demo on Resale</ion-button>
    </ion-col>
  </ion-row>
</ion-content>