<ion-content [fullscreen]="true">
  <section class="header">
    <div (click)="goToHome()"></div>
  </section>
  <section class="sub-header">
    Demo Residences
  </section>
  <section class="grid-wrapper">
    <div class="one">
    </div>
    <div class="grid-inner">
      <div class="two"></div>
      <div class="three"></div>
      <div class="four"></div>
      <div class="five"></div>
    </div>
  </section>
  <section class="highlights">
    Highlights
  </section>
  <section class="attributes bigscreen" >
    <div class="attribute-item">
      <div class="icon icon-1">
      </div>
      <div class="text">
        <label>Property Type</label>
        <span>Condo</span>
      </div>
    </div>

    <div class="attribute-item">
      <div class="icon icon-2">
      </div>
      <div class="text">
        <label>Location</label>
        <span>Singapore</span>
      </div>
    </div>

    <div class="attribute-item">
      <div class="icon icon-3">
      </div>
      <div class="text">
        <label>Unit Type</label>
        <span>2 Bedroom</span>
      </div>
    </div>

    <div class="attribute-item">
      <div class="icon icon-4">
      </div>
      <div class="text">
        <label>Size</label>
        <span>1001 sqft</span>
      </div>
    </div>

    <div class="attribute-item">
      <div class="icon icon-5">
      </div>
      <div class="text">
        <label>PSF</label>
        <span>S$1,200 psf</span>
      </div>
    </div>
  </section>
  <section class="attributes smallscreen">
    <div class="attribute-row1">
      <div class="attribute-item">
        <div class="icon icon-1">
        </div>
        <div class="text">
          <label>Property Type</label>
          <span>Condo</span>
        </div>
      </div>
  
      <div class="attribute-item">
        <div class="icon icon-2">
        </div>
        <div class="text">
          <label>Location</label>
          <span>Singapore</span>
        </div>
      </div>
  
      <div class="attribute-item">
        <div class="icon icon-3">
        </div>
        <div class="text">
          <label>Unit Type</label>
          <span>2 Bedroom</span>
        </div>
      </div>
    </div>
    
<div class="attribute-row2">
  <div class="attribute-item">
    <div class="icon icon-4">
    </div>
    <div class="text">
      <label>Size</label>
      <span>1001 sqft</span>
    </div>
  </div>

  <div class="attribute-item">
    <div class="icon icon-5">
    </div>
    <div class="text">
      <label>PSF</label>
      <span>S$1,200 psf</span>
    </div>
  </div>

</div>
    
  </section>
  <section id="content">
    <app-selected-data-points  [ids]="selectedIds"></app-selected-data-points>
  </section>
  <section class="highlights">
    Site Plan
  </section>
  <section class="siteplan">
  </section>
  <section class="location">
    <div class="map-image"></div>
    <div class="map-text">
      <div class="location-content">
        <div class="highlights">
          Location
        </div>
        <div class="location-row">
          <label>Address</label>
          <span>123 Brookvale Drive</span>
        </div>
        <div class="location-row">
          <label>Transport</label>
          <span class="row-item">
            14 mins drive - Beauty World Integrated Transport Hub
          </span>
          <span class="row-item">
            15 mins drive - King Albert Park MRT Station
          </span>
        </div>
        <div class="location-row">
          <label>Dining and Shopping</label>
          <span class="row-item">
            7 mins drive - Bukit Timah Market & Food Center
          </span>
          <span class="row-item">
            9 mins drive - Holland Village
          </span>
        </div>
        <div class="location-row parks">
          <label>Parks</label>
          <span class="row-item">
            9 mins drive - Bukit Timah Nature Reserve
          </span>
          <span class="row-item">
            15 mins drive - Singapore Botanic Gardens
          </span>
        </div>
        <div class="location-row schools">
          <label>Schools</label>
          <span class="row-item">
            5 mins drive - Singapore Institute of Management
          </span>
          <span class="row-item">
            7 mins drive - Ngee Ann Polytechnic
          </span>
        </div>
      </div>
    </div>
  </section>
</ion-content>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>new-launch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-selected-data-points  [ids]="selectedIds"></app-selected-data-points>
</ion-content> -->
