/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--ion-color-primary: #062472;
	--ion-color-primary-rgb: 6,36,114;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #052064;
	--ion-color-primary-tint: #1f3a80;

    --ion-color-medium: #505050;
	--ion-color-medium-rgb: 80,80,80;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #464646;
	--ion-color-medium-tint: #626262;

    --ion-color-pg4b-black:  #2C2C2C;
    --ion-color-pg4b-grey: #999999;
    --ion-color-pg4b-darker-grey : #505050;
      --ion-color-pg4b-cool-grey-40 : #9FA8AF;
      --ion-color-pg4b-cool-grey-60 : #3E5160;
      --ion-color-pg4b-cool-grey-lightest : #F3F4F5;
      --ion-color-pg4b-neutral-grey : #F2F2F2;
      --ion-color-pg4b-functional-yellow : #FCB40A;
      --ion-color-pg4b-primary : #E2F9FF;
      --ion-color-pg4b-primary-default : #062472;
      --ion-color-pg4b-purple-lighter: #F0EAF4;
      --ion-color-pg-green-lightest: #E7FFF4;
}

.ion-color-pg4b-black {
    --ion-color-base: #2C2C2C;
  }

.ion-color-pg4b-grey {
    --ion-color-base: #999999;
  }

  .ion-color-pg4b-darker-grey {
    --ion-color-base: #505050;
  }

  .ion-color-pg4b-cool-grey-40 {
    --ion-color-base: #9FA8AF;
  }

  .ion-color-pg4b-cool-grey-60 {
    --ion-color-base: #3E5160;
  }

  .ion-color-pg4b-cool-grey-lightest {
    --ion-color-base: #F3F4F5;
  }

  .ion-color-pg4b-neutral-grey {
    --ion-color-base: #F2F2F2;
  }

  .ion-color-pg4b-functional-yellow {
    --ion-color-base: #FCB40A;
  }

  .ion-color-pg4b-primary {
    --ion-color-base: #E2F9FF;
  }

  .ion-color-pg4b-primary-default {
    --ion-color-base: #062472;
  }

  .ion-color-pg4b-purple-lighter{
    --ion-color-base:#F0EAF4;
  } 

  .ion-color-pg-green-lightest{
    --ion-color-base: #E7FFF4;
  }
  ion-button{
    text-transform: none;
    height:48px;
    font-family: "Roboto Regular 400";
  }

  .padding-div{
    padding-left:40px;
    padding-right:40px;
    padding-top:10px;
    padding-bottom: 10px;
}

ion-modal{
    --width:95%;
}

h4{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 42px;
/* identical to box height */

}

ion-popover{
  ion-select-popover{

    ion-label {
      white-space: initial!important;
    }
    ion-item{
      border-bottom: 1px solid #999999;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    
  } 
}


ion-button{
  letter-spacing: normal;
}

@media (max-width: 575px){
  h2{
    font-size:24px!important;  
  }
  .padding-div {
    padding-left: 16px;
    padding-right: 16px;
}
ion-card{
  margin-left: 0;
    margin-right: 0;
    margin-inline: 0!important;
}
}
@media (min-width: 576px){
  ion-card{
    margin-inline: 0!important;
    margin-left: 0;
    margin-right:6px!important;
  } 
}

@media (min-width:2000px){
  h2{
    font-size:60px!important;
    margin-top:36px!important;
  }
  h3{
    font-size: 55px!important;
    line-height: 55px!important;
    margin-top: 32px!important;
  }
  h4{
    font-size:44px!important;
    line-height: 44px!important;
    margin-top: 32px!important;
  }
  h2,h4{
    margin-bottom:30px!important;
  }
  ion-select, ion-button{
    font-size:30px!important;
    border-radius:16px!important;
  }
  ion-select{
    width: 700px!important;
    height:96px!important;
    --padding-start: 32px!important;
  }
  ion-button{
    height:96px!important;
  }
  ion-label{
    font-size:24px!important;
  }

  span{
    font-size:24px!important;
  }
  ion-card-header{
    padding-inline: 32px!important;
    padding:32px!important;
  }
  .rating-span{
    left:-30px!important;
    font-size:24px!important;
  }
  .gradient-bar{
    height:24px!important;
    width:120px!important;
    margin-left:10px!important;
  }
  .detail-icon{
    width:120px!important;
  }
  ion-card-content{
    padding-inline-start: 32px!important;
    padding-inline-end: 32px!important;
    padding-bottom: 26px!important;
    font-size: 28px!important;
  }
  ion-card{
    margin-inline: 0!important;
    margin-left: 0!important;
    margin-right:12px!important;
  } 
}