#container {
  //text-align: center;

  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 50%;
  //transform: translateY(-50%);
  padding-left: 40px;
  //padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.header {
  width: 100vw;
  box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 20%);
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  div {
    width: 120px;
    height: 30px;
    background-image: url("../../assets/forbusiness.svg");
    background-repeat: no-repeat;
    background-size:contain;
  }
}
h2{
  /* Headline 2 */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 35px;
//line-height: 60px;
/* identical to box height */

display: flex;
align-items: center;

/* PG4B/Neutral/Black */

color: #2C2C2C;
}

.search-bar{
  --border-radius: 8px!important;
  border: 1px solid #999999;
  --box-shadow:0;
  width: 328px;
  height: 48px;
  border-radius:8px;
  padding-right: 16px;
}

.search-btn{
  //width: 82px;
  height: 48px;
  margin-left: 16px;
  font-size: 16px;
  text-transform: none;
  --box-shadow:0;
  --border-radius:8px;
}

ion-row{
  padding-top:8px;
  padding-bottom:8px;
}

.label-top{
  font-size:18px;
  font-weight:500; 
  color:#2c2c2c;
}
.label-bottom{
  font-size:14px;
  font-weight:500; 
  color:#2c2c2c
}

@media (max-width: 575px){
  #container{
    padding-left: 16px!important;
    padding-right:16px!important;
  }
  img.search{
    height:180px;
    width:180px;
  }
  .header{
    padding-left: 16px!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  .header-row{
    padding-bottom:0;
  }
  .searchbar-row{
    padding-top:0;
  }
  .search-bar{
    max-width: 70%!important;
  }
  .search-btn{
    width: 25%;
    margin-left: 10px!important;
  }
}

@media (min-width:2000px){
  .header{
    padding-top: 30px!important;
  padding-bottom: 30px!important;
    div{
      width:240px!important;
      height: 60px!important;
    }
  }
  .search-bar{
    padding-right:32px!important;
    
  }
  .search-btn{
    margin-left:32px!important;
  }
  img.search{
    height:360px;
    width:360px;
  }
  .label-top{
    font-size:36px!important;
  }
  .label-bottom{
    font-size:28px!important;
  }
  
}