.sticky-grid{
  position:sticky;
  top:0;
  padding-top:0;
  z-index:99;
  padding-left:0;
  padding-right:0;
  
}

.embed-row{
    padding-top:0;
    padding-bottom: 0;
    background-color: var(--ion-color-pg4b-cool-grey-lightest);
    padding-left:40px;
    padding-right:40px;
}
.embed-btn{
    float:right;
    //width: 82px;
  height: 48px;
  --background: white;
}

.embed-btn.disabled{
--background: white;
}

.top-chip{
    background-color: var(--ion-color-pg4b-neutral-grey);
}

ion-row{
    padding-top:10px;
    padding-bottom:10px;
  }



  h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    /* identical to box height */
    color: #2C2C2C;

  }

ion-textarea{
    font-size:14px;
    height:100%;
    --padding-bottom: 16px;
}

  ion-icon[name="star"]{
    color:var(--ion-color-pg4b-functional-yellow)
    
  }
  ion-icon[name="star-outline"]{
    color:var(--ion-color-pg4b-functional-yellow)
  }

  ion-card .category-tag{
    // background: #F0EAF4;
    font-weight:500;
border-radius: 4px;
font-size: 12px;
line-height: 18px;
padding: 1px 8px;
text-transform: uppercase;
// color: #2C2C2C;
color: var(--ion-color-pg4b-cool-grey-60);
  }

  .category-tag.Transportation{
    
    background: var(--ion-color-pg4b-purple-lighter);
  }
  .category-tag.Sustainability{
    
    background: var(--ion-color-pg-green-lightest);
  }
  .category-tag.Livability{
    
    background: var(--ion-color-pg4b-primary);
  }
  .category-tag.Liveability{
    
    background: var(--ion-color-pg4b-primary);
  }

  ion-card ion-row{
    padding:0;
  }
  ion-card ion-col{
    padding:0;
  }

  ion-card-subtitle{
    padding-top:4px;
    padding-bottom:4px;
    color:var(--ion-color-pg4b-darker-grey);
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
  }
  
  ion-card-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color:var(--ion-color-pg4b-black);
  }
span.extra-desc{
  
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color:var(--ion-color-pg4b-black);
}

 ion-card{
  border: 2px solid #DBDEE1;
/* PG4B/Shadows/shadow-sm */

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
border-radius: 4px;
margin-inline:6px;
min-height:230px;
 }

 .desc-span{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* PG4B / Neutral / Dark Grey */
  color: #999999;
 }
.checkbox-span ion-icon{
    font-size: 24px;
}
.checkbox-span{
    position:absolute;
    right:0;
    bottom:0;
}

.selected-card{
    border: 2px solid #062472;
    span.checkbox-span ion-icon{
        color:#062472
    }
}

ion-card-content{
    bottom: 0;
    position: absolute;
    width:100%;
}
ion-card-header{
    width:100%
}

.star-col{
    position: absolute;
    right: 0;
    padding-right: 15px;
}

.preview-section{
    background-color: var(--ion-color-pg4b-cool-grey-lightest);
    padding-right:5px;
    //border-right: 16px solid white;
    
    // padding: 0 10px 10px 10px;
}
.embed-section{
    background-color: var(--ion-color-pg4b-cool-grey-lightest);
    
    padding: 0 20px 0 20px;
}

.content-div ion-row{
  padding-top:0px;
  padding-bottom:0px;
}

.content-div h4{
  line-height:12px;
}

.resp-label{
  font-weight: 400;
font-size: 14px;
line-height: 16px;

/* PG4B/Neutral/Black */

color: #2C2C2C;
}


.checkbox-col{
  bottom: 10px; 
  right: 13px;
  position:absolute;
}

.info-icon{
  vertical-align: middle;
}

@media (max-width: 575px){
  .embed-row{
    padding-left:16px;
    padding-right:16px;
  }
  
}

@media (max-width: 991px){
  .copycode-btn{
    height: 48px;
    position: relative;
    margin-bottom: 10px;
  }
  .preview-section{
    border-bottom:15px white solid;
  }
}
@media (min-width: 992px){
  .copycode-btn{
    height: 48px;
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
  }
  .preview-section{
    border-right: 16px solid white;
}
}
@media (min-width:2000px){
  .embed-col{
    padding-top:46px!important;
    font-size:24px!important;
  }
  ion-card .category-tag{
    border-radius: 8px!important;
font-size: 24px!important;
line-height: 24px!important;
padding: 2px 16px!important;

}
ion-card-subtitle{
  padding-top:8px!important;
  padding-bottom:8px!important;
font-size: 32px!important;
line-height: 48px!important;
}

ion-card-title{
font-size: 40px!important;
line-height: 60px!important;
}
span.extra-desc{

font-size: 28px!important;
line-height: 42px!important;
}

ion-card{
border: 4px solid #DBDEE1!important;
/* PG4B/Shadows/shadow-sm */

border-radius: 8px!important;
margin-inline:0!important;
min-height:480px!important;
margin-left: 0!important;
  margin-right:12px!important;
}


.desc-span{
font-size: 24px!important;
line-height: 28px!important;
}
.checkbox-span ion-icon{
  font-size: 48px!important;
}
.selected-card{
  border: 4px solid #062472!important;
}
.star-col{
  padding-right: 30px!important;
}

.preview-section{
  padding-right:10px!important;
}
.embed-section{
  
  padding: 0 40px 0 40px!important;
}


.content-div h4{
line-height:48px!important;
}

.resp-label{
font-size: 28px!important;
line-height: 32px!important;
}
.checkbox-col{
  bottom: 20px; 
  right: 26px;
}
ion-modal{
  --ion-padding:40px!important;
  --height: 900px!important;
  ion-title{
    padding-inline: 40px!important;
  }
}
.close-icon{
  top: 40px!important;
  right: 40px!important;
  font-size: 48px!important;
}
.embed-title{
  padding-top: 20px!important;
  padding-bottom: 10px!important;
  font-size: 44px !important;
  line-height: 44px !important;
  margin-top: 32px !important;
  font-family: "Poppins"!important;
  font-style: normal!important;
  font-weight: 500!important;
  margin-bottom: 30px !important;
}
ion-textarea{
  font-size: 28px!important;
    --padding-bottom: 32px!important;
    --padding-top: 20px!important;
    --padding-start:10px!important;
    --padding-end:10px!important;
}
}

.close-icon{
  position:absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}

ion-modal{
  --ion-padding:20px;
}

.detail-icon{
  position: absolute;
    right: 0;
}
.copycode-btn{
  margin-top: 16px;
margin-bottom:24px;  
--background: white;
}
.embed-col{
  padding-top:23px;
}
.embed-title{
  font-size:18px;
  padding-top: 20px;
    padding-bottom: 10px;
}