<div *ngIf="rating == 1">
  <span class="rating-span">1/5</span><div class="gradient-bar rating-1"></div>
</div>
<div *ngIf="rating == 2">
  <span class="rating-span">2/5</span><div class="gradient-bar rating-2"></div>
</div>
<div *ngIf="rating == 3">
  <span class="rating-span">3/5</span><div class="gradient-bar rating-3"></div>
</div>
<div *ngIf="rating == 4">
  <span class="rating-span">4/5</span><div class="gradient-bar rating-4"></div>
</div>
<div *ngIf="rating == 5">
  <span class="rating-span">5/5</span><div class="gradient-bar rating-5"></div>
</div>
